.main
  .main__header
    .main__header--group
      .name
        = @group.name
      .member
        Member:
        - @group.users.each do |user|
          = user.name
    .edit--btn
      =link_to 'Edit', edit_group_path(@group) 
  .main__disply
    = render @tasks

  .main__message
    =link_to 'Task', new_group_task_path(@group) 

